[Unit]
Description=Autoplay

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/bin/omxplayer --loop /usr/share/videos/arch-echo.mp4 -o local
Restart=always

[Install]
WantedBy=multi-user.target
